Python / Django

pycache/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
payment.sqlite3
Legder.sqlite3
frontend_service.sqlite3
Identity_service.sqlite3
account_service.sqlite3
*.log

Login_Details.txt

Docker

.docker_cache/

IDE settings

.vscode/
.idea/