{% load static %}
<!DOCTYPE html>
<html lang="en">




    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
        <link rel="icon" href="{% static 'favicon.ico' %}">
    </head>


    <body>

        
        <h1>ARHAN FINANCIAL</h1>
        
        <nav class= "navbar navar-default navbar-static-top">
            <div class="container">
                <div class="col-sm-2">
                    {% block sidebar %}
                        <ul class="nav navar-nav">
                            <li><a class="navbar-link" href="Identity_service/customer_login/">Login</a></li>
                            <br>
                            <li><a class="navbar-link" href="customer_register">Register</a></li>
                            <br>
                            <li><a class="navbar-link" href="post_list">NEWS</a></li>
                        </ul>
                    {% endblock %}
                </div>    
            </div>
        </nav>

    </body>
</html>



