{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    
    <h2> Total amount deposited:
        {% if total %}
            <b><FONT COLOR = "GREEN">${{ total }}</FONT></b>
        {% else %}
            <FONT COLOR = "red">$0</FONT>
        {% endif %}
    </h2>
    <h2> Stock equities:
        {% if equity %}
            <b><FONT COLOR = "GREEN">${{ equity }}</FONT></b>
        {% else %}
            <FONT COLOR = "red"> ${{ equity }} </FONT>
        {% endif %}
    </h2>
    <h2> Stock account balance:
        {% if balance %}
            <b><FONT COLOR = "GREEN">${{ balance }}</FONT></b>
        {% else %}
            <FONT COLOR = "red">$0</FONT>
        {% endif %}
    </h2>

    <p>Welcome <b>{{ user.username }}.</b></p>
    
    <p><b> To be able to trade, make sure you copy the code from your <a href="{% url 'edit' %}"> <b> profile </b></a> and paste it in your google authenticator app so you can use the time-based otps. </b></p>


    <p>You can deposit <a href="{% url 'payment:process' %}"><b> here </b></a></p>

    <p>You can view your owned stocks and trades<a href="{% url 'my_stocks' %}"> <b> here </b></a></p>
    <p>You can search for the stock of your choice <a href="{% url "stocks" %}">here</a>.</p>
    
{% endblock %}