{% extends "base.html" %}

{% block title %}Ticker{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1> {{ meta.name }} ({{ ticker }}) </h1>
        <p> {{ meta.exchangeCode }} </p>
        <p><b>Description:</b> {{ meta.description }} </p> 
        <h4>Today's price data for {{ meta.name }} </h4>
        <table class="table text-center">
            <tr><td> Open:</td> <td><b>${{ price.open }}</b></td></tr> 
            <tr><td> High:</td> <td><b>${{ price.high }}</b></td></tr>  
            <tr><td> Low:</td> <td><b>${{ price.low }}</b></td></tr>
            <tr><td> Close:</td> <td><b>${{ price.close }}</b></td></tr> 
            <tr><td> Dividend:</td> <td><b>{{ price.divCash }}</b></td></tr> 
            <tr><td> Volume(Number of shares traded):</td> <td><b>{{ price.volume }}</b></td></tr>  
        </table>
        <button id="Buy" class="float-left submit-button" >Buy</button>
        <button id="Sell" class="float-right submit-button" >Sell</button>
        <br>
        <br>
        <button id="Long" class="float-left submit-button" >Long</button>
        <button id="Short" class="float-right submit-button" >Short</button>
    </div>

    <script type="text/javascript">
        document.getElementById("Buy").onclick = function () {
            location.href = "{% url 'payment:stock_buy' %}";
        };
        var closePrice = {{ price.close }};
    </script>

    <script type="text/javascript">
        document.getElementById("Long").onclick = function () {
            location.href = "{% url 'payment:stock_long' %}";
        };
        var closePrice = {{ price.close }};
    </script>


    <script type="text/javascript">
        document.getElementById("Sell").onclick = function () {
            location.href = "{% url 'payment:stock_sell' %}";
        };
    
        try {
            var openPrice = {{ price.open }};
        } catch (error) {
            console.error("Error occurred:", error);
            // Reload the page if an error occurs
            window.location.reload();
        }
    </script>


    <script type="text/javascript">
        document.getElementById("Short").onclick = function () {
            location.href = "{% url 'payment:stock_short' %}";
        };
        var closePrice = {{ price.close }};
    </script>

{% endblock %}



                    
